[[redirects]]
  force = true
  from = "https://www.finanzen.net/:splat"
  to = "endpoint/"
  status = 200
  [redirect.headers]
    x-from = "Netlify"
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200