[[redirects]]
  from = "/endpoint"
  to = "https://www.finanzen.net"
  status = 200
  force = true
  headers = {X-From = "Netlify"}
[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"