@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// bogy bg color
$bg: #f1f1f1;
// component bg color
$cpbg: #ffffff;
// general text color
$text: #1e1e1e;
// accent color
$accent: #3d00ff;
// btn bg color & hover
$btnbg: #e8e8e8;
$btnbghov: #e0dede;

:root {
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  color-scheme: light dark;
  color: $text;
  background-color: $bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  max-width: 100vw;
  margin: 1em;
  margin-top: 5em;
}

.read-the-docs {
  color: $text;
}

h1 {
  font-size: 3.2em;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
  line-height: 1.5;
}


a {
  font-weight: 500;
  color: $accent;
  text-decoration: inherit;
}

a:hover {
  color: $accent;
}

code {
  font-weight: 300;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $btnbg;
  color: $accent;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}

button:hover {
  background-color: $btnbghov;
}

.scraper-ct {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.scrape-data-item h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.scraper-return {
  text-align: left;
  margin-bottom: 20px;
}

.scraper-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  gap: 5px;
}

.scraper-header-cat {
  margin-bottom: 20px;
}

.scraper-header span {
  font-size: 15px;
}

.scraper-header h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 2px;
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.scraper-header svg {
  margin-left: 2px;
  font-size: 32px;
}

.scrape-data-item {
  background-color: $cpbg;
  color: $text;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: $btnbg;
}

.scrape-data-tabs {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 10px 40px;
}

.asset-type {
  margin-bottom: 20px;
}

.tab-item-header {
  font-weight: 400;
  color: $accent;
}

.scrape-data-tabs-item h3 {
  margin: 0;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.scrape-data-tabs span {
  margin-right: 30px;
}

.pill {
  color: white;
  background: $accent;
  text-align: center;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  font-size: 13px;
  line-height: 1;
  white-space: nowrap;
}

.error-log {
  display: flex;
  justify-content: center;
  align-items: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-log h3 {
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: $cpbg;
  border-radius: 10px;
}

footer {
  margin-bottom: 50px;
}

@media (prefers-color-scheme: light) {}